.IndexPage {
  // grey out every odd element section
  .section + .section {
    background-color: #efefef;
  }

  .Banner {
    height: 30rem;
    padding-top: 10rem;
    background-color: $primary;
    background-image: url('../images/nature-blue.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    .title {
      color: $white;
      font-weight: 300;
    }

    .subtitle {
      color: $white;
    }

    .title,
    .subtitle {
      text-shadow: 1px 1px black;
    }
  }
}
