@import './index/banner';
@import './index/benefits';
@import './index/who';
@import './index/appointments';

// for retina screens
@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 2) and (min-resolution: 192dpi) {
  .IndexPage {
    font-size: 1.1rem;
    .content {
      font-size: 1.1rem;
    }
  }
}

.IndexPage {
  // grey out every odd element section
  & > .section:nth-child(2n + 1) {
    background-color: #efefef;
  }

  // set h2 title setting for every section
  h2.title {
    margin-bottom: 2rem;
    font-weight: 400;
  }
}
