.IndexPage {
  .WhoSection {
    .PeopleList {
      li {
        display: flex;
        flex-direction: column;
        text-align: center;

        .Card {
          flex: 1;
          box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1),
            0 0 0 1px rgba(10, 10, 10, 0.1);
          display: flex;
          flex-direction: column;
          text-align: center;
        }

        .Icon {
          padding: 1rem;
          font-size: 2.5rem;
          background-color: $primary;
          color: $white;
        }

        .Text {
          margin: 1rem;
        }
      }
    }
  }
}
