<!-- How to use Navbar Drawer -->
<!--
  Put Elements in the Paper Element and Leave the spacer Empty.

  Attach .is-open CSS when you want Drawer to Appear. This is done using JS.
-->
<aside class="NavbarDrawer js-NavbarDrawer">
  <div class="Paper">
    <ul class="List">
      <li>
        <a href="./#about">About</a>
      </li>
      <li>
        <a href="./#contact">Contact</a>
      </li>
      <li>
        <a href="./#appointment">
          <button class="button is-primary">Book Now</button>
        </a>
      </li>
    </ul>
  </div>
  <div class="Spacer js-Spacer"></div>
</aside>
