<nav class="navbar Navbar" role="navigation" aria-label="main navigation">
  <div class="container">
    <div class="navbar-brand">
      <include src="components/burger-button.html"></include>
      <a class="navbar-item Brand" href="./#">
        Wellness HP
      </a>
    </div>

    <div class="navbar-menu">
      <div class="navbar-end">
        <a href="./#about" class="navbar-item">
          About
        </a>
        <a href="./#contact" class="navbar-item">
          Contact
        </a>
        <div class="navbar-item">
          <div class="buttons">
            <a role="button" href="./#appointment" class="button is-primary">
              Book Now!
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>

<include src="layout/navbar-drawer.html"></include>
